# Web Automation and Info Search with Python

#### Challenge: 

We work in a company in which the prices of our products are attached to the quote of the:
- Dollar
- Euro
- Gold

We need to search the internet and get the updated value of these 3 items to calculate how much we should price our products, considering a contribution margin that we have in our dataset.

Dataset: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

We're going to create a web automation using selenium.

In [9]:
# Goals

# Open Chrome 
# Search on Google for the dollar price and get it
# Search on Google for the euro price and get it
# Search on a website the gold price and get it
# Import dataset
# Update the dataset
# Export the dataset to an excel file

### 1. Importing the libraries

In [10]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

### 2. Getting the updated prices

In [11]:
chrome = webdriver.Chrome()
# get dollar price
chrome.get('https://www.google.com.br/')
chrome.find_element(
    By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar', Keys.ENTER)
dollar = chrome.find_element(
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# get euro price
chrome.get('https://www.google.com.br/')
chrome.find_element(
    By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro', Keys.ENTER)
euro = chrome.find_element(
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# get gold price
chrome.get('https://www.melhorcambio.com/ouro-hoje')
gold = chrome.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
gold = gold.replace(',', '.')

chrome.quit()

print(dollar, euro, gold)

5.0181 5.510516116000001 324.63

### 3. Importing the dataset

In [12]:
import pandas as pd

In [13]:
df = pd.read_excel('Produtos.xlsx')
df

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

### 4. Updating the dataset

In [14]:
df.loc[df['Moeda'] == 'Dólar', 'Cotação'] = float(dollar)
df.loc[df['Moeda'] == 'Euro', 'Cotação'] = float(euro)
df.loc[df['Moeda'] == 'Ouro', 'Cotação'] = float(gold)

df['Preço de Compra'] = df['Preço Original'] * df['Cotação']
df['Preço de Venda'] = df['Preço de Compra'] * df['Margem']

df

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.018100,5018.049819,1.40,7025.269747
1,Carro Renault,4500.00,Euro,5.510516,24797.322522,2.00,49594.645044
2,Notebook Dell,899.99,Dólar,5.018100,4516.239819,1.70,7677.607692
3,IPhone,799.00,Dólar,5.018100,4009.461900,1.70,6816.085230
4,Carro Fiat,3000.00,Euro,5.510516,16531.548348,1.90,31409.941861
5,Celular Xiaomi,480.48,Dólar,5.018100,2411.096688,2.00,4822.193376
6,Joia 20g,20.00,Ouro,324.630000,6492.600000,1.15,7466.490000

### 5. Exporting the dataset

In [15]:
df.to_excel('Produtos Atualizados.xlsx', index=False)